<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/davidbonnaud">David</a>, a full-stack web-developer.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Bonnaud</h2>
      <br />
      <p>
        David is a full-stack developer based out of california studying computer science.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />